.box{
    height: 80px;
    width: 80px;
    font-size: 40px;
    text-align: center;
    border-radius: 15px;
    border-width: 5px;
    margin-bottom: 5px;
    border-color: black;
}
h1{
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;    
}
.block{
    text-align: center;
}
p{
    text-align: center;
}
.score-card{
    margin: 15px;
}
.button{
    background-color: skyblue;
    height: 30px;
    width: 70px;
}
.bot{
    text-align: center;
}
.p1{
    color: green;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.p2{
    color: red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
.score{
    font-size: 25px;
}
.results{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
}
